@import url('YanoneKaffeesatz-Regular.css');

body {
    background: black;
    margin:0;
    padding: 0;
}
.page {
	height:100%;
   	background-repeat: no-repeat;
   	background-size: 120%;
}
.center {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.columncontainer {
	position: relative;
	float: left;
	width:100%;
}
.column {
	height:100%;
	position:relative;
	float: left;
	overflow: hidden;
}
.text {
	color: #CDCDCD;
	font-family: 'YanoneKaffeesatz-Regular';
}