@import url('YanoneKaffeesatz-Regular.css');

body {
    background: #67b9de;
    margin:0;
    padding: 0;
}
a {
	color:#441244;
}
a:active {
	color:#774577;
}
a:hover {
	color:#774577;
}
.header {
	position: fixed;
	opacity: 0.6;
	z-index: 999;
}
.headerelement {
	margin-top: 5px;
	height: 10vw;
	width: 10vw;
	float: left;
	color: #E0E0E0;
}
.headericon {
	height: 9vw;
} 
.page {
	height:100%;
   	background-repeat: no-repeat;
   	background-size: 100%;
   	z-index: 99;
}
.center {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.iframe {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.columncontainer {
	position: relative;
	float: left;
	width:100%;
}
.column {
	height:100%;
	position:relative;
	float: left;
	overflow: hidden;
}
span {
  display: table-cell;
  vertical-align: middle;
  
}
.text {
	display: table;
	color: #020256;
	height: 100%;
	font-family: 'YanoneKaffeesatz-Regular';
}
p.vignette {
  position: relative;
}
p.vignette img {
 display: block;
}
p.vignette:after {
 -moz-box-shadow: inset 0 0 10em #040404;  
 -webkit-box-shadow: inset 0 0 10em #040404;   
 box-shadow: inset 0 0 10em #040404;
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 2;
 content: "";
}